@font-face {
  font-family: "Stara-SemiBold";
  src: url("./font/Stara-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

.main {
  background-color: rgb(136, 134, 134);
}

.cards {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-auto-rows: 250px;
  gap: 40px;
  font-family: "Stara-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.img {
  width: 175px;
  position: absolute;
  transform: translateX(140%);
}

.arrow {
  width: 35px;
  transform: rotate(-120deg);
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 40px;
  justify-content: center;
  border: 1px rgb(25, 26, 35) solid;
  box-shadow: 0 4px 0 #191a23;
}

.gt > div:nth-child(2) {
  margin-top: 8px;
}

.wt > div:nth-child(2) {
  margin-top: 8px;
}

.gt > div,
.wt > div {
  width: fit-content;
  border-radius: 3px;
}

.gt > div:not(.learn-box):not(.learng):not(.circle):not(.learn) {
  background-color: rgb(185, 255, 102);
  box-shadow: 0 0 0 4px #b9ff66;
}

.wt > div:not(.learn-box):not(.learng):not(.circle):not(.learn) {
  background-color: rgb(243, 243, 243);
  box-shadow: 0 0 0 4px rgb(243, 243, 243);
}

.card > div:last-child {
  margin-top: auto;
  align-items: center;
}

.white {
  background-color: rgb(243, 243, 243);
}

.green {
  background-color: rgb(185, 255, 102);
}

.black {
  background-color: rgb(25, 26, 35);
}

.learn-box,
.learng,
.learn {
  background-color: transparent;
  box-shadow: 0 0 0 0;
  font-size: 18px;
}

.learng {
  color: rgb(243, 243, 243);
}

.learn-box {
  display: flex;
  gap: 15px;
}

.circle {
  display: flex;
  height: 35px;
  border-radius: 50%;
  flex: 0 0 35px;
  box-shadow: none;
  align-items: center;
  justify-content: center;
}
